*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --mainFont: 'Roboto', sans-serif;

  /* hero and footer fonts and colors */
  --heroFooterBg: #1f2937;

  --heroMainFontSize: 48px;
  --heoroMainFontColor: #f9faf8;

  --heroSecondaryFontSize: 18px;
  --heroSecondaryFontolor: #e5e7eb;

  --headerLogoFontSize: 24px;
  --headerLogoFontColor: var(--heoroMainFontColor);

  /* button call to action fonts and colors */
  --buttonActionColor: #3882f6;

  --infoTextFontSize: 36px;
  --infoTextFontColor: var(--heroFooterBg);

  /* quote section fonts and colors */
  --quoteSectionBg: var(--heroSecondaryFontolor);
  --quoteTextFontSize: 36px;
  --quoteTextFontColor: var(--heroFooterBg);
}

body {
  background-color: red;
  font-family: var(--mainFont);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--heroFooterBg);
}

.logo {
  font-size: var(--headerLogoFontSize);
  color: var(--headerLogoFontColor);
  font-weight: bolder;
  height: 60px;
  display: flex;
  align-items: center;
}

.head-links ul {
  display: flex;
  gap: 35px;
}

.head-links a {
  font-size: var(--heroSecondaryFontSize);
  color: var(--heroSecondaryFontolor);
  text-decoration: none;
}
