*,
*:before,
*:after {
  box-sizing: inherit;
}
:root {
  --mainFont: 'Roboto', sans-serif;

  /* hero and footer fonts and colors */
  --heroFooterBg: #1f2937;

  --heroMainFontSize: 48px;
  --heoroMainFontColor: #f9faf8;

  --heroSecondaryFontSize: 18px;
  --heroSecondaryFontolor: #e5e7eb;

  --headerLogoFontSize: 24px;
  --headerLogoFontColor: var(--heoroMainFontColor);

  /* button call to action fonts and colors */
  --buttonActionColor: #3882f6;

  --infoTextFontSize: 36px;
  --infoTextFontColor: var(--heroFooterBg);

  /* quote section fonts and colors */
  --quoteSectionBg: var(--heroSecondaryFontolor);
  --quoteTextFontSize: 36px;
  --quoteTextFontColor: var(--heroFooterBg);
}

body {
  background-color: red;
  font-family: var(--mainFont);
  height: 100vh;
}

.head {
  background-color: var(--heroFooterBg);
  padding: 0 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--headerLogoFontSize);
  color: var(--headerLogoFontColor);
  font-weight: bolder;
  height: 60px;
  display: flex;
  align-items: center;
}

.head-links ul {
  display: flex;
  gap: 35px;
}

.head-links a {
  font-size: var(--heroSecondaryFontSize);
  color: var(--heroSecondaryFontolor);
  text-decoration: none;
}

.hero h1 {
  font-size: var(--heroMainFontSize);
  color: var(--heoroMainFontColor);
  font-weight: bolder;
}

.hero p {
  font-size: var(--heroSecondaryFontSize);
  color: var(--heroSecondaryFontolor);
}

.hero {
  background-color: var(--heroFooterBg);
  display: flex;
  padding: 80px 0;
  justify-content: space-between;
  align-items: center;
}

.hero button {
  background-color: var(--buttonActionColor);
  font-size: 18px;
  font-weight: bold;
  color: var(--heoroMainFontColor);
  border: none;
  border-radius: 10px;
  padding: 10px 35px;
}

.hero-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6d747d;
  height: 250px;
  width: 500px;
  font-size: var(--heroSecondaryFontSize);
  color: var(--heroSecondaryFontolor);
}

.hero-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 15px;
  width: 450px;
}

.hero-right {
}
